.info {
    padding-top: 5px;
    background-image: url(info.png);
    background-repeat: no-repeat;
    padding: 20px;
    text-align: left;
    color: white;
    width: 30%;
    font-size: larger;
}

.empty {
    padding: 15px;
}

.part1 {
    padding-left: 40px;
    width: 35%;
    float: left;
}

.r input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
}

.c {
    float: left;
    width: 70%;
}

.r {
    float: left;
    width: 100%;
}

.img {
    float: right;
    width: 30%;
}

/* .img img {
    float: right;
} */

.button {
    float: left;
    width: 100%;
    padding-left: 25%;
    padding-top: 50px;
}

.button1 {
    float: left;
    width: 5%;
    padding-left: 10%;
    padding-top: 50px;
}

.button1 img {
    width: 190%;
}


