:root {
    --cam: #E1963C;
    --hongnhat: #FFF8F6;
}


.dv, .cacloaiphong{
    width: 100%;
    background-color:var(--hongnhat) ;
}

.dv .row .col-3 h1, .cacloaiphong .row .col-3 h1,#gallery .row .col-2 h1{
    margin: 0;
}

.home .row .line, .row.dv_line .line{
    width: 68%;
    border-bottom: 2px solid var(--cam);
}
 
  
#dichvu, #anhdichvu, #loaiphong, #anhloaiphong, #gallery, #anhgallery {
    margin-top: 20px;
}

#anhgallery, #anhloaiphong, #anhdichvu {
    margin-bottom: 50px;
}
  
#xemchitiet1, #xemchitiet2, #xemchitiet3{    
    background-color: var(--cam);
    border: var(--cam);
    font: 18px Arial;
    color: white;
    border-radius: 10px;
}

#anhdichvu .row{
    margin-left: 80px;
    margin-right: 60px;
}
  

  

  
  