
* {
    box-sizing: border-box;
  }
.row .col-5 .img1{
    margin-left: 160px;
    margin-top: 50px;
    z-index: 1000;
}
.img2{
    margin-left: 400px;
    margin-top: -300px;
}
.dichvu .row .col-7{
    background-color: var(--hongdam);
    margin-bottom: -200px;
    padding-left: 0;
    padding-right: 0;
}

.dichvu .row .col-5{
    padding-right: 0;
}

.dichvu .row {
    margin-left: 0;
    margin-right: 0;
}

.row .col-7 .description h1{
    margin: 80px 200px;
    font: 50px serif;
    font-weight: bold;
}

.row .col-7 .description p{
    margin-left: 200px;
    margin-bottom: 50px;
    font: 25px sans-serif;
    width: 450px;
}

.nhahang, .bar, .hoboi{
    margin-bottom: 100px;
}


.dichvu .row .col-8 h1{
    margin: 90px 160px;
    font: 50px serif;
    font-weight: bold;
}

.row .col-8 .des_img{
    display: flex;
}

.row .col-8 .des_img img{
    margin-left: 160px;
}

.row .col-8 .des_img p{
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    font: 25px sans-serif;
    width: 450px;
}

.dichvu .row .col-4 img{
    margin-top: 60px;
}

.spa{
    margin-bottom: 50px;
}
.spa .row .col-8 h1{
    margin: 70px 160px;
    font: 50px serif;
    font-weight: bold;
}

.spa .row .col-8 .des_img p{
    margin-left: 50px;
    margin-bottom: 20px;
    font: 25px sans-serif;
    width: 450px;
}

.spa .row .col-4 img{
    margin-top: 55px;
}
