.Quanly .info {
    margin: auto;
    background-color: white;
    width: 90%;
    padding: 3.5rem 3rem 3.5rem 3rem;
    border-radius: 1.25rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*.info h4 {
    display: inline-block;
    color: white;
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 0 20px 20px 0;
    background-color: #E1963C;
    margin: 1.25rem 0 1.25rem calc(var(--bs-gutter-x) * -0.5 - 3rem);
}*/

@media screen and (max-width: 600px) {
    .Quanly .info {
        padding: 3.5rem 1rem;
    }

    .Quanly .info h4 {
        margin-left: -1.75rem;
    }

    /*.info label {
        font-size: 0.6rem;
    }*/
}



.info__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.info__img > input {
    display: none;
}

.info__img > label > * {
    border-radius: 50%;
    color: #6C6A6A;
    border: 3px solid var(--primary-color);
    padding: 1rem;
}
