.row2 {
    padding-top: 10px;
    background-image: url("../Image/thanh2.png");
    background-repeat: no-repeat;
    background-size: 150% 150%;
    padding-bottom: 8px;
    float: left;
    width: 100%;
}

.row1 {
    float: left;
    background-image: url("../Image/thanh.png");
    width: 100%;
}
 
.name {
    float: left;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 8%;
}

.CCCD {
    float: left;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 10%;
}

.sdt {
    float: left;
    padding-left: 49px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 8%;
}

.ten {
    float: left;
    padding-left: 30px;
    width: 7%;
}

.cccd {
    float: left;
    padding-left: 100px;
    width: 4.5%;
}

.phone {
    float: left;
    padding-left: 95px;
    width: 9%;
}

.email {
    float: left;
    padding-left: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 12%;
}

.username {
    float: left;
    padding-left: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 10%;
}

.password {
    float: left;
    padding-left: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 8%;
}

.mail {
    float: left;
    padding-left: 120px;
    width: 2.5%;
}

.tendangnhap {
    float: left;
    padding-left: 160px;
    width: 9%;
}

.matkhau {
    float: left;
    padding-left: 70px;
    width: 5%;
}

.trangthai {
    float: left;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 5%;
}
.thaydoi {
    float: left;
    padding-left: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 5%;
}

.add {
    width: 100%;
    float: left;
}

.add img {
    float: right;
    width: 5%;
}
