#dichvu2 .row .line{
    width: 68%;
    border-bottom: 2px solid var(--cam);
}

.select_room_type{
    background-color: var(--hongdam);
    width: 900px;
    margin-left: 100px;
    padding-top: 10px;
}

.select_room_type p{
    font-size: 20px;
}

.select_room_type h2{
    padding-left: 40px;
    margin-bottom: 10px;
}
.select_room_type .bancong{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.select_room_type .bancong .btn, .dondatphong .btn{
    width: 100px;
    height: 35px;
    background-color: var(--cam);
    border: var(--cam);
    font: 20px sans-serif;
    color: white;
    border-radius: 10px;
}
.dondatphong .btn{
    width: 140px;
    height: 40px;
}

.select_room_type .line {
    padding-bottom: 10px;
    border-bottom: 2.5px solid var(--cam);
}

.select_room_type .bancong:last-child{
    padding-bottom: 10px;
}

.dondatphong{
    background-color: var(--hongdam);
    width: 350px;
    height: fit-content;
    position: sticky;
    top: 20px;
    right: 10px;
    margin-left: auto;
    z-index: 1000;
}

.dondatphong p{
    margin-bottom: 5px;
}

.dondatphong_first{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2.5px solid var(--cam);
}
.total_row{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.booking_submit{
    margin: auto;
    margin-bottom: 10px;
}

.dondatphong p{
    font-size: 18px;
}
