@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --cam: #E1963C;
  --hongnhat: #FFF8F6;
  --hongdam: #FFE5CF;
}
* {
  box-sizing: border-box;
}

@keyframes opensidebar {
  from {left: -100%;}
  to {left: 0%;}
}

body {
  background-color: #FFF8F6;
}

.Login h1 {
  display: inline-block;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.3);
  font-size: 500%;
  font-family: "Playfair Display";
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 75px 0px 50px;
  margin-left: 100px;
}

.Login {
  background-image: url('./Image/Hotel.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  height: 100vh;
}

.Login Form {
  margin-left: 100px;
}

.Login label{
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 105%;
  color: #FFFFFF;
  letter-spacing: 1px;
  background-image: url('./Image/Hotel.png');
  background-size: cover; 
  background-attachment: fixed;
  margin-left: 20px;
  margin-bottom: -18px;
  width: fit-content;
}

.Login input {
  display: block;
  width: 35%;
  background: none;
  border-radius: 15pt;
  border: 3px solid white;
  padding: 20px 10px 20px;
  margin: 10px 0px 30px;
  transition: 0.5s;
  outline: none;
  font-size: 150%;
  color: #FFFFFF;
  letter-spacing: 2px;
  z-index: 1;
}

.Login input::placeholder {
  color: rgb(172, 177, 215);
}

.Login input:focus {
  border: 3px solid #555;
}

.Login input:focus::placeholder {
  color: transparent;
}

.Login button {
  text-align: center;
  vertical-align: middle;
  background-color: #FF9933;
  border-radius: 13pt;
  width: 15%;
  padding: 15px 0 15px;
  border: none;
  color: #FFFFFF;
  font-family: "Raleway";
  font-size: 120%;
  font-weight: 700;
  margin-left: 10%;
}

.Login button:hover {
  background-color: black;
  cursor: pointer;
}

.Rightbutton {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 50px;
  margin: 0px 0px 5px 0px;
  padding-left: 0%;
}

.Rightbutton:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.link {
  text-decoration: none;
  width: 100%;
  font-size: 100%;
  font-family: "Poppins";
}

.icon {
  font-size: 300%;
}

.Sidebar {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 220px;
  min-height: 100%;
  background-color: #E1963C;
  animation-name: opensidebar;
  animation-duration: 500ms; 
}

.Sidebar .Leftbutton {
  display: block;
  margin-left: auto; 
  margin-right: 0px;
  background-color: #E1963C;
  padding-left: 1px;
  width: 40px;
  height: 50px;
  border: none;
}

.Leftbutton:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.Sidebar img {
  width: 30%;
  float: left;
  margin-right: 5%;
}

.Sidebar div {
  display: block;
  margin-left: 7%;
  margin-top: -5%;
}

.Sidebar h3 {
  font-size: 130%;
  font-family: "Raleway";
  font-weight: 500;
}

.Sidebar h2 {
  margin-top: -8%;
  font-size: 180%;
  font-family: "Raleway";
  font-weight: 700;
}

.Sidebar ul {
  margin-top: 25%;
  list-style-type: none;
  padding-inline-start: 0%;
}

.Sidebar li {
  width: 100%;
  display: flex;
  padding-left: 55px;
  height: 55px;
  align-items: center;
}

.Sidebar .functionicon {
  font-size: 130%;
  margin-right: 5%;
  vertical-align: middle;
}

.Sidebar span {
  vertical-align: middle;
}

.Sidebar .Logout{
  width: 100%;
  font-size: 100%;
  font-family: "Poppins";
  border: none;
  background: #E1963C;
  text-align: left;
  padding-left: 25%;
}

.Sidebar .Logout:hover {
  cursor: pointer;
}

.Thongtin {
  min-width: 1000px;
  height: 680px;
  margin: 2% 5% 2% 20%;
}

.Thongtin .Avatar {
  float: left;
  width: 40%;
  background-color: #E1963C;
  text-align: center;
  height: 100%;
}

.Thongtin .text {
  float: right;
  width: 60%;
  background-color: hsla(33, 73%, 56%,10%);
  height: 100%;
  padding-left: 5%;
  
}

.Avatar img {
  width: 50%;
  margin-top: 25%;
  border: 5px solid #555;
  border-radius: 100%;
}

.Avatar h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 150%;
  margin-top: 10px;
}

.Avatar h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 140%;
  color: #631900;
}

.Avatar h4 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 110%;
  color: black;
}

.text h3 {
  color: #C7873A;
  font-family: "Raleway";
  margin-top: 7%;
  font-size: 120%;
} 

.Phong {
  min-width: 1000px;
  height: 680px;
  margin: 2% 5% 2% 20%;
}

.Phong .menu {
  display: flex; 
}

.Phong .Trangthaiphong {
  display: inline-block;
  min-width: 13%;
  margin-right: 3%;
}

.Phong .Toa {
  display: inline-block;
  min-width: 7%;
}

.Phong .Checkin {
  display: inline-block;
  margin-right: 1%;
}

.Phong .Checkout {
  display: inline-block;
  margin-left: 1%;
}

.Phong .Rooms {
  margin-top: 3%;
  width: 100%;
  height: 85.5%;
  display: block;
  justify-content: center;
  align-items: center;
}

.taodon {
    background-color: #E1963C;
    color: black;
    font-weight: 600;
}

.taodon:hover {
  cursor: pointer;
  background-color: black;
  color: white;
} 

table {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.Form {
  background-color: #FFFFFF;
  width: 68%;
  height: 85%;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 3%;
  margin-left: 23%;
}

.Form h4 {
  display: block;
  font-family: 'Raleway';
  font-size: 105%;
  font-weight: 700;
  background-color: #E1963C;
  color: black;
  width: 90%;
  line-height: 200%;
  border-top-right-radius: 10pt;
  border-bottom-right-radius: 10pt;
  padding-left: 4px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.fixdon {
  background-color: transparent;
  border: none;
  padding: 0%;
  text-decoration: underline;
}

.fixdon:hover {
  color: #E1963C;
  cursor: pointer;
}

.functionButton {
  width: 100%;
  border-radius: 8pt;
  background-color: #E1963C;
  font-weight: 600;
}

.functionButton:hover {
  cursor: pointer;
  background-color: black;
  color: #FFFFFF;
}

.Xbutton {
  font-weight: 700;
  width: fit-content;
  border: none;
  background-color: transparent;
}

.Xbutton:hover {
  background-color: rgba(131, 127, 127, 0.484);
  cursor: pointer;
}

.Rest input::-webkit-outer-spin-button, .Rest input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MessageBox {
  background-color: #FFFFFF;
  width: 350px;
  border: 1px solid black;
  text-align: center;
  margin-top: 19%;
  margin-left: 46%;
}

.messageButton {
  width: 22%;
  border-radius: 8pt;
  background-color: #E1963C;
  font-weight: 600;
}

.messageButton:hover {
  cursor: pointer;
  background-color: black;
  color: #FFFFFF;
}

.model {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.Thongbao {
  min-width: 1000px;
  height: 680px;
  margin: 2% 5% 2% 20%;
  background-color: hsla(33, 73%, 56%,10%)
}

.Thongbao .paper {
  background: hsla(33, 73%, 56%, 20%);
  height: 250px;
  width: 90%; 
  margin: auto;
  padding: 0 9px;
}

.Thongbao .paper:hover {
  background: hsla(33, 73%, 56%, 50%);
  cursor: pointer;
} 

.Khachhang {
  min-width: 1000px;
  height: 680px;
  margin: 2% 5% 2% 20%;
}

.Khachhang .Customers {
  margin-top: 3%;
  width: 100%;
  height: 85.5%;
  display: block;
  justify-content: center;
  align-items: center;
}

.Pages p {
  margin: auto;
}

.Tuvan {
  min-width: 1000px;
  height: 680px;
  margin: 2% 5% 2% 20%;
  background-color: hsla(33, 73%, 56%,10%);
  font-family: "Raleway";
}

.main {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.modal {
  padding-right: 0px !important;
}

 /*----------------------------------------------------*/
.Customer .navbar{
  background-color: #00000030;
  border-radius: 30px;
  margin: 10px 30px;
}

.Customer .nav-item .nav-link {
  color: white;
  font-size: 18px;
}

.Customer .nav-link:hover {
  background: hsl(0, 0%, 0%, 0.3);
}

#fictionlogo{
  color: white;
  line-height: 1.1;
  padding-left: 5px;
}

#navbarSupportedContent ul li{
  margin: 0 10px;
}

#navbarSupportedContent ul li a{
  font-size: 20px;
}

#tracuu{    
  width: 193px;
  height: 42px;
  background-color: var(--cam);
  border: var(--cam);
  font: 18px Arial;
  color: white;
  border-radius: 20px;
}


.Customer .header{
  width: 100%;
  height: 500px;
  padding-top: 10px;
  background-image: url("./Image/Customer/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  position: relative;
}

.banner_title{
  width: fit-content;
  background-color: #00000030;
  color: white;
  font-weight: 500;
  font-size: 75px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 150px;
  left: 100px;
  padding: 0 15px; 
}

.Customer .checkin-out{
  position: absolute;
  top: 300px;
  left: 100px;
  display: flex;
  justify-content: space-between;
}

#checkin{
  margin-right: 20px;
  width: 265px;
  height: 53px;
  background-color: #ffffff80;
  color:white;
}

#checkout{
  margin-right: 20px;
  width: 265px;
  height: 53px;
  background-color: #ffffff80;
  color:white;
  
}

.checkin-out #sokhach{
  padding: 0;
  width: 165px;
  background-color: #ffffff80;
  border-radius: 5px;
}


#datngay{
  margin-left: 100px;
  width: 175px;
  height: 45px;
  background-color: var(--cam);
  border: var(--cam);
  font: 20px sans-serif;
  color: white;
  border-radius: 10px;
}

.Customer button:hover,#datngay:hover,#datngay2:hover,#tracuu:hover,#xemchitiet1:hover,#chon:hover{
  background: black;
  cursor: pointer;
}

/* BOX CHAT */

#boxchat{
  position: fixed;
  z-index: 2000;
  bottom: 10px;
  right: 0px;
}

#gallery_line{
  width: 20%;
  border-bottom: 2px solid var(--cam);
}

/* FOOTER */

.footer{
  width: 100%;
  height: 200px;
  background-color: black;
}

#footer_2col, #footer_3col, #footer_4col{
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}

#footer_1col{
  color: white;
}


.Customer .icon{
  margin: 4px;
}
   
/* ROOM DETAILS */
.Customer .room .row{
  margin: 30px 100px;
  margin-top: 50px;
}

.Customer .room .row .col-5{
  padding: 0;
}

.Customer .room .row .col-5 .carousel-inner .carousel-item img{
  width: 400px;
  height: 250px;
}

.Customer .room .row .col-5 h2{
  margin: 0 25px;
}


.Customer .room .row .col-5 p{
  margin-bottom: 5px;
  margin-left: 25px;
}

.Customer .room .row .col-5 .price{
  margin: 10px 0 20px 25px;
  font-weight: bold;
}


#datngay2{
  width: 150px;
  height: 40px;
  background-color: var(--cam);
  border: var(--cam);
  font: 20px sans-serif;
  color: white;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 22px;
}


/* BOOKING ROOM */
.Customer .roomRow{
  display: flex;
  justify-content: space-between;
}

.Customer .roomRow img{
  width: 25px;
  height: 25px;
}

.Customer .bookingRoom{
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2.5px solid var(--cam);
}