@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Poppins');

@keyframes opensidebar {
  from {left: -100%;}
  to {left: 0%;}
}

body {
  background-image: url('./Image/Hotel.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.Login h1 {
  display: inline-block;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.3);
  font-size: 500%;
  font-family: "Playfair Display";
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 75px 0px 50px;
}

.Login {
  margin-left: 100px;
}

.Login label{
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 105%;
  color: #FFFFFF;
  letter-spacing: 1px;
  background-image: url('./Image/Hotel.png');
  background-size: cover; 
  background-attachment: fixed;
  margin-left: 20px;
  margin-bottom: -18px;
  width: fit-content;
}

.Login input {
  display: block;
  width: 35%;
  background: none;
  border-radius: 15pt;
  border: 3px solid white;
  padding: 20px 10px 20px;
  margin: 10px 0px 30px;
  transition: 0.5s;
  outline: none;
  font-size: 150%;
  color: #FFFFFF;
  letter-spacing: 2px;
  z-index: 1;
}

.Login input::placeholder {
  color: rgb(172, 177, 215);
}

.Login input:focus {
  border: 3px solid #555;
}

.Login input:focus::placeholder {
  color: transparent;
}

.Login button {
  text-align: center;
  vertical-align: middle;
  background-color: #FF9933;
  border-radius: 13pt;
  width: 15%;
  padding: 15px 0 15px;
  border: none;
  color: #FFFFFF;
  font-family: "Raleway";
  font-size: 120%;
  font-weight: 700;
  margin-left: 10%;
}

.Login button:hover {
  background-color: black;
  cursor: pointer;
}

.Letan .Rightbutton {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  background-color: #FFF8F6;
  border: none;
  width: 40px;
  height: 50px;
  margin: 0px 0px 5px 0px;
  padding-left: 0%;
}

.Letan .Rightbutton:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.Letan .icon {
  font-size: 300%;
}

.Sidebar {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 220px;
  min-height: 100%;
  background-color: #E1963C;
  animation-name: opensidebar;
  animation-duration: 500ms; 
}

.Sidebar .Leftbutton {
  display: block;
  margin-left: auto; 
  margin-right: 0;
  background-color: #E1963C;
  padding-left: 1px;
  width: 40px;
  height: 50px;
  border: none;
}

.Letan .Leftbutton:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.Sidebar img {
  width: 30%;
  float: left;
  margin-right: 5%;
}

.Sidebar div {
  display: block;
  margin-left: 7%;
  margin-top: -15%;
}

.Sidebar h3 {
  font-size: 130%;
  font-family: "Raleway";
  font-weight: 500;
}

.Sidebar h2 {
  margin-top: -8%;
  font-size: 180%;
  font-family: "Raleway";
  font-weight: 700;
}

.Sidebar ul {
  margin-top: 25%;
  list-style-type: none;
  padding-inline-start: 0%;
}

.Sidebar li button {
  width: 100%;
  height: 55px;
  font-size: 100%;
  font-family: "Poppins";
  border: none;
  text-align: left;
  padding-left: 25%;
}

.Sidebar li button:hover {
  cursor: pointer;
}

.Sidebar .functionicon {
  font-size: 130%;
  margin-right: 5%;
  vertical-align: middle;
}

.Sidebar span {
  vertical-align: middle;
}

.Sidebar .Logout{
  width: 100%;
  margin-top: 95%;
  font-size: 100%;
  font-family: "Poppins";
  border: none;
  background: #E1963C;
  text-align: left;
  padding-left: 25%;
}

.Sidebar .Logout:hover {
  cursor: pointer;
}

.Thongtin {
  min-width: 1000px;
  height: 680px;
  margin: 2% 5% 2% 20%;
}

.Thongtin .Avatar {
  float: left;
  width: 40%;
  background-color: #E1963C;
  text-align: center;
  height: 100%;
}

.Thongtin .text {
  float: right;
  width: 55%;
  background-color: #f8e7d3;
  height: 100%;
  padding-left: 5%;
}

.Avatar img {
  width: 50%;
  margin-top: 25%;
  border: 5px solid #555;
  border-radius: 100%;
}

.Avatar h2 {
  font-family: "Raleway";
  font-weight: 700;
}

.Avatar h3 {
  font-family: "Raleway";
  font-weight: 700;
  color: #631900;
}

.Avatar h4 {
  font-family: "Raleway";
  font-weight: 500;
  color: black;
}

.text h3 {
  color: #C7873A;
  font-family: "Raleway";
  margin-top: 7%;
} 

.Phong {
  min-width: 1000px;
  height: 680px;
  margin: 2% 5% 2% 20%;
}

.Phong .menu {
  display: flex; 
}

.Phong .Trangthaiphong {
  display: inline-block;
  max-width: 17%;
  margin-right: 3%;
}

.Phong .Toa {
  display: inline-block;
  max-width: 7%;
  margin-right: 32.7%;
}

.Phong .Checkin {
  display: inline-block;
  margin-right: 1%;
}

.Phong .Checkout {
  display: inline-block;
  margin-left: 1%;
}

.Phong .Rooms {
  margin-top: 3%;
  width: 100%;
  height: 85.5%;
  display: block;
  justify-content: center;
  align-items: center;
}

.Phong .taodon {
    background-color: #C7873A;
    color: black;
    font-weight: 600;
}

.Phong .taodon:hover {
  cursor: pointer;
  background-color: black;
  color: white;
} 

table {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.Form {
  background-color: #FFFFFF;
  position: fixed;
  width: 68%;
  height: 85%;
  border: 1px solid black;
  left: 57%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}