:root {
  --primary-color: #E1963C;
}

body {
  background-color: antiquewhite !important;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Poppins');

@keyframes opensidebar {
  from {left: -100%;}
  to {left: 0%;}
}

@keyframes closesidebar {
  from {left: 0%;}
  to {left: -100%;}
  
}
.Rightbutton {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 50px;
  margin: 0px 0px 5px 0px;
  padding-left: 0%;
}

.Rightbutton:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.link {
  text-decoration: none;
  width: 100%;
  font-size: 100%;
  font-family: "Poppins";
}

.icon {
  font-size: 300%;
}

.Sidebar {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 220px;
  min-height: 100%;
  background-color: #E1963C;
  animation-name: opensidebar;
  animation-duration: 500ms; 
}

.Sidebar .Leftbutton {
  display: block;
  margin-left: auto; 
  margin-right: 0;
  background-color: #E1963C;
  padding-left: 1px;
  width: 40px;
  height: 50px;
  animation-name: closesidebar;
  border: none;
}

.Leftbutton:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.Sidebar img {
  width: 30%;
  float: left;
  margin-right: 5%;
}

.Sidebar div {
  display: block;
  margin-left: 7%;
  margin-top: -15%;
}

.Sidebar h3 {
  font-size: 130%;
  font-family: "Raleway";
  font-weight: 500;
}

.Sidebar h2 {
  margin-top: -8%;
  font-size: 180%;
  font-family: "Raleway";
  font-weight: 700;
}

.Sidebar ul {
  margin-top: 25%;
  list-style-type: none;
  padding-inline-start: 0%;
}

.Sidebar li button {
  width: 100%;
  height: 55px;
  font-size: 100%;
  font-family: "Poppins";
  border: none;
  text-align: left;
  padding-left: 25%;
}

.Sidebar li button:hover {
  cursor: pointer;
}

.Sidebar .functionicon {
  font-size: 130%;
  margin-right: 5%;
  vertical-align: middle;
}

.Sidebar span {
  vertical-align: middle;
}

.Sidebar .Logout{
  width: 100%;
  margin-top: 95%;
  font-size: 100%;
  font-family: "Poppins";
  border: none;
  background: #E1963C;
  text-align: left;
  padding-left: 25%;
}

.Sidebar .Logout:hover {
  cursor: pointer;
}

table {
  border: 1px solid black;
}

.main {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.modal {
  padding-right: 0px !important;
}

.Form {
  background-color: #FFFFFF;
  width: 68%;
  height: 85%;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Form h4 {
  display: block;
  font-family: 'Raleway';
  font-size: 105%;
  font-weight: 700;
  background-color: #E1963C;
  color: black;
  width: 90%;
  line-height: 200%;
  border-top-right-radius: 10pt;
  border-bottom-right-radius: 10pt;
  padding-left: 4px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.fixdon {
  background-color: transparent;
  border: none;
  padding: 0%;
  text-decoration: underline;
}

.fixdon:hover {
  color: #E1963C;
  cursor: pointer;
}

.functionButton {
  width: 100%;
  border-radius: 8pt;
  background-color: #E1963C;
  font-weight: 600;
}

.functionButton:hover {
  cursor: pointer;
  background-color: black;
  color: #FFFFFF;
}

.Xbutton {
  font-weight: 700;
  width: fit-content;
  border: none;
  background-color: transparent;
}

.Xbutton:hover {
  background-color: rgba(131, 127, 127, 0.484);
  cursor: pointer;
}

.Rest input::-webkit-outer-spin-button, .Rest input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.model {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.Thongbao {
  min-width: 1000px;
  height: 680px;
  margin: 2% 5% 2% 20%;
}

.Thongbao .paper, .main .paper {
  background: #eec491;
  height: 250px;
  width: 80%; 
  margin: auto;
  padding: 0 9px;
}

.Thongbao .paper:hover, .main .paper:hover {
  background: #E1963C;
  cursor: pointer;
} 

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #E1963C;
}

.nav-link {
  color: #E1963C;
}